.primary {
    background-color: #990066;

}

.primary-font {
    color: #990066;

}

.secondary {
    background-color: #99ccff;
}

.secondary-font {
    color:#99ccff;

}
.third {
    background-color: #ff9999;
}
.third-font {
    color: #ff9999;
}
.img-100-size{
    width:100%;
}

